<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Shahkar Check</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                <span style="color: red;">{{ field.errors }}</span>

                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

    {{ form.non_field_errors }}


</body>
</html>
